.fields-of-view {
  width: 95vw;
  height: 60vh;
  background-color: #22162b;

  .car-pictures img {
    top: 61.5vh;
    width: 95vw;
    height: auto;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  .info-car {
    text-align: left;
    color: #e5e5e5;
    font-size: 2.5rem;
  }
  .car-details {
    color: #e5e5e5;
    margin-left: 2vw;
    font-size: larger;
    width: auto;
  }

  .navigation-buttons {
    position: absolute;
    width: 100%;
    top: 50vh;

    .following,
    .previus {
      position: absolute;
      top: 9vh;
      width: 18vw;
      height: 4vh;
      border-radius: 40%;
      font-size: 2rem;
    }

    .following {
      margin-left: 75vw;
    }

    .previus {
      margin-left: 6vw;
    }
  }
}

/*@media screen and (min-width: 600px) {
  .fields-of-view {
    width: 2vw;
    height: 2vh;
    background-color: #22162b;
  
    .car-pictures img {
      top: 2.5vh;
      width: 2vw;
      height: auto;
    }
  
    h2 {
      text-align: center;
      font-size: 3rem;
    }
  
    .info-car {
      text-align: left;
      color: #e5e5e5;
      font-size: 2rem;
    }
    .car-details {
      color: #e5e5e5;
      margin-left: 5vw;
      font-size: larger;
      width: auto;
    }
  
.fields-of-view {
  width: 95vw;
  height: 60vh;
  background-color: #22162b;

  .car-pictures img {
    top: 61.5vh;
    width: 95vw;
    height: auto;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
  }

  .info-car {
    text-align: left;
    color: #e5e5e5;
    font-size: 2.5rem;
  }
  .car-details {
    color: #e5e5e5;
    margin-left: 2vw;
    font-size: larger;
    width: auto;
  }

  .navigation-buttons {
    position: absolute;
    width: 100%;
    top: 50vh;

    .following,
    .previus {
      position: absolute;
      top: 9vh;
      width: 18vw;
      height: 4vh;
      border-radius: 40%;
      font-size: 2rem;
    }

    .following {
      margin-left: 75vw;
    }

    .previus {
      margin-left: 6vw;
    }
  }
}
    .navigation-buttons {
      position: absolute;
      width: 100%;
      top: 2vh;
  
      .following,
      .previus {
        position: absolute;
        top: 2;
        width: 18vw;
        height: 4vh;
        border-radius: 40%;
        font-size: 2rem;
      }
  
      .following {
        margin-left: 75vw;
      }
  
      .previus {
        margin-left: 6vw;
      }
    }
  }}*/
