.fields-of-view {
  width: 95vw;
  height: 70vh;
  background-color: #22162b;

  .article {
    color: #e5e5e5;
    margin-left: 2vw;
    font-size: larger;

    img {
      position: absolute;
      top: 60vh;
      width: 93vw;
      margin-left: 0;
      height: auto;
    }
  }
}
