main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .title {
    width: 100vw;
    height: 20vh;
    background-color: #22162b;
    color: #e5e5e5;
  }

  h1 {
    margin: 6vh;
    font-size: 2rem;
    text-align: center;
  }

  .motor-180 {
    background-image: url("./assets/motorP90.jpg");
    width: 100vw;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  img {
    position: absolute;
    top: 40vh;
    height: 36vh;
  }
  .roof-top {
    position: absolute;
    left: 24.3vw;
    top: 44vh;
    height: 2.8vh;
  }

  .text-rf {
    position: absolute;
    top: 44vh;
    left: 37vw;
    color: #e5e5e5;
    z-index: 5;
  }

  .numberplate {
    position: absolute;
    background-color: #22162b;
    top: 63vh;
    left: 39vw;
    border: solid 1px 22162b;
    border-radius: 15% 15% 25% 25%;
    width: 20vw;
    height: 4vh;
    color: #e5e5e5;
    text-align: center;
    line-height: 4vh;
  }

  @media screen and (min-width: 600px) {
    h1 {
      margin: 6vh;
      font-size: 4rem;
      text-align: center;
    }

    .motor-180 {
      background-image: url("./assets/motor.png");
      background-size: contain;
    }
    img {
      position: absolute;
      top: 25vh;
      height: 70vh;
    }
    .roof-top {
      position: absolute;
      top: 31.2vh;
      left: 39.2vw;
      height: 5vh;
    }

    .text-rf {
      position: absolute;
      top: 31vh;
      left: 44.6vw;
      color: #e5e5e5;
      font-size: x-large;
    }

    .numberplate {
      position: absolute;
      background-color: #22162b;
      top: 75vh;
      left: 45.2vw;
      border: solid 1px 22162b;
      border-radius: 15% 15% 25% 25%;
      width: 8vw;
      height: 7vh;
      color: #e5e5e5;
      text-align: center;
      font-size: large;
      line-height: 7vh;
    }
  }
}
