.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  .title {
    width: 100vw;
    height: 15vh;
    background-color: #22162b;
    color: #e5e5e5;

    h1 {
      margin: 0;
      font-size: 3rem;
      text-align: center;
      line-height: 15vh;
    }
  }

  .motor-180 {
    background-image: url("./assets/motorP180.jpg");
    width: 100vw;
    height: 85vh;
    background-size: cover;
    display: flex;
    justify-content: center;

    .object {
      border: 1px #22162b solid;
      margin: 3vh;
      background-color: #e5e5e5;
      width: 100vw;
      height: 30vh;
      padding: 1rem;
      font-size: 2.5rem;
    }

    img {
      position: absolute;
      top: 55vh;
      height: 30vh;
    }

    .roof-top {
      position: absolute;
      left: 29vw;
      top: 58.2vh;
      height: 2.3vh;
      display: flex;
      align-content: center;
    }
    .text-rf {
      position: absolute;
      top: 58.5vh;
      left: 45vw;
      font-size: x-large;
      color: #e5e5e5;
      z-index: 5;
    }
    .numberplate {
      position: absolute;
      background-color: #22162b;
      top: 76.5vh;
      left: 42vw;
      border: solid 1px #22162b;
      border-radius: 15% 15% 25% 25%;
      width: 18vw;
      height: 3.3vh;
      color: #e5e5e5;
      text-align: center;
      line-height: 3.3vh;
      font-size: xx-large;
    }
  }
}

@media screen and (min-width: 600px) {
  .home {
    .title {
      height: 20vh;

      h1 {
        font-size: 2rem;
        line-height: 20vh;
      }
    }
    .motor-180 {
      display: flex;
      background-image: url("./assets/motor.png");
      background-size: contain;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 80vh;

      .object {
        border: 1px #22162b solid;
        background-color: #e5e5e5;
        font-size: 0.9rem;
        position: absolute;
        top: 23vh;
        left: 5vh;
        width: 40vw;
        height: 58vh;
      }

      img {
        position: absolute;
        top: 22vh;
        height: 70vh;
        right: 0.2vw;
      }
      .roof-top {
        position: absolute;
        top: 30vh;
        left: 62vw;
        height: 5.5vh;
      }
      .text-rf {
        position: absolute;
        top: 30.5vh;
        left: 70vw;
        color: #e5e5e5;
        font-size: x-small;
      }
      .numberplate {
        position: absolute;
        background-color: #22162b;
        top: 72vh;
        left: 68.85vw;
        border: solid 1px #22162b;
        border-radius: 15% 15% 25% 25%;
        width: 8vw;
        height: 7vh;
        color: #e5e5e5;
        text-align: center;
        font-size: x-small;
        line-height: 7vh;
      }
    }
  }
}
